{% extends 'base.html' %}

{% block content %}
<div class='row'>
  {% for movie in rcd_movies %}
    <div class="col-6 ">
      <div class="card mb-4 h-100">  
        <p>제목 : {{movie.title}}</p>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-regular fa-heart"></i>
        <p>발매일 : {{movie.release_date}}</p>
        <p>줄거리 : {{movie.overview|truncatechars:15}}</p>
        <a href="{% url "movies:detail" movie.pk %}">
          <img class="w-100" src="{{movie.poster_path}}" alt="영화사진">
        </a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
