{% extends "base.html" %}
{% block content %}
<h3>DETAIL</h3>
<h4>{{ article.pk }}번째 글</h4>
<hr>
  <p>작성자: {{article.user}}</p>
  <p>제목: {{article.title}}</p>  
  <p>내용: {{article.content}}</p>  
  <p>작성 시간: {{article.created_at}}</p>  
  <p>수정 시간: {{article.updated_at}}</p>  
  <hr>
  <h5>댓글 목록({{comments|length}}개)</h5>
  <ul>
    {% for comment in comments %}
      <li>
        {{comment.user}} - {{comment.content}}
        {% if request.user == article.user %}
          <form action="{% url "articles:comments_delete" article.pk comment.pk%}"method='POST'>
            {% csrf_token %}
            <input type="submit" value='delete'>
          </form>
        {% endif %}
      </li>
    {%empty%}
      <p>댓글이 없습니다.</p>
    {% endfor %}
  </ul>
  <form action="{% url "articles:comments_create" article.pk%}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>
  {% if request.user == article.user %}
    <a href="{% url "articles:update" article.pk%}">[수정하기]</a>
    <form action="{% url "articles:delete" article.pk%}"method='POST'>
      {% csrf_token %}
      <input type="submit" value='DELETE'>
    </form>
  {% endif %}
  <a href="{% url "articles:index"%}">[BACK]</a>
{% endblock content %}
