<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 1. Raw HTML -->
    <div v-html="rawHtml"></div>
    <!-- 2. Attribute Bindings -->
    <div :id="dynamicId"></div>
    <a :href="myUrl">Link</a>
    <img :src="imageSrc">
    <!-- 3. Binding HTML Classes - Binding to Objects -->
    <div :class="{active: isActive, 'text-primary': hasInfo}">Text</div>
    <!-- 객체로 위의 것 구현하기 -->
    <div :class="classObj">Text</div>
    <!-- 4. Binding HTML Classes - Binding to Arrays -->
    <div :class="[activeClass, infoClass]">Text</div>
    <!-- 5. Binding Inline Styles - Binding to Objects -->
    <div :style="{ color:activeColor, fontSize:fontSize+'px' }">Text</div>
    <!-- 객체로 위의 것 구현하기 -->
    <div :style="styleObj">Text</div>
    <!-- 6. Binding Inline Styles - Binding to Arrays -->
    <div :style="[styleObj, styleObj2]">Text</div>
    <!-- 7. Inline handlers -->
    <button @click="count++">Add 1</button>
    <p>Count: {{ count }}</p>
    <!-- 8. Method Handlers -->
    <button @click="myFunc"> Hello </button>
    <!-- 9. Event Modifiers -->
    <!-- 순서 탐 -->
    <form @submit.stop.prevent="onLink">...</form>
    <!-- 10. Key Modifiers -->
    <input @keyup.enter="onSubmit">
    <!-- 11. v - bind 와 v - on을 함께 사용(양방향) -->
    <p>{{ inputText1 }}</p>
    <input :value="inputText1" @input="onInput">
    <!-- 12. v-model -->
    <p>{{ inputText2 }}</p>
    <input v-model="inputText2">
    <!-- 13. v-model 활용(Checkbox) -->
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <!-- 14. v-model 활용(여러 Checkbox) -->
    <div>checked names : {{ checkedNames }}</div>
    
    <input type="checkbox" id="alice" value="Alice" v-model="checkedNames">
    <label for="alice">Alice</label>
    
    <input type="checkbox" id="bella" value="Bella" v-model="checkedNames">
    <label for="bella">Bella</label>

    <!-- 15.computed -->
    <h2>남은 할 일</h2>
    <p>{{ restOfTodos }}</p>
    <!-- 16. v-if -->
    <!-- else if도 있음 -->
    <p v-if="isSeen">true일때 보여요</p>
    <p v-else>false일때 보여요</p>
    <button @click="isSeen = !isSeen">토글</button>
    <!-- 17. template -->
    <template v-if="isSeen">
      <div>보이니?</div>
    </template>
    <!-- 18. v-show -->
    <div v-show="isShow">v-show</div>
    <!-- 19. v-for (key 달아줘...) -->
    <!-- 배열 반복 -->
    <div v-for="(item, index) in myArr">
      {{item.name}} / {{index}}
    </div>
    <!-- 객체 반복 -->
    <div v-for="(value, key, index) in myObj">
      {{value}} / {{key}} / {{index}}
    <!-- 중첩된 v-for -->
    <!-- 각 v-for 범위는 상위 범위에 접근 가능 -->
    <ul v-for="item in myInfo">
      <li v-for="friend in item.friends">
        {{ item.name }} - {{ friend }}
      </li>
    </ul>
    <!-- 20. v-for와 v-if 해결법 -->
    <!-- v-if가 항상 v-for 보다 먼저 발동해서 변수에 접근 불가 -->
    <!-- computed를 이용해서 해결 -->
    <ul>
      <li v-for="todo in completeTodos" :key="todo.id">
        {{todo.name}}
      </li>
    </ul>
    </div>
    <!-- v-for와 template 요소를 사용하여 v-if를 이동하여 해결 -->
    <ul>
      <template v-for="todo in todos" :key="todo.id">
        <li v-if="!todo.isComplete">
          {{ todo.name }}
        </li>
      </template>
    </ul>
    <!-- 21. watch(computed와 유사한데 목적이 다름) -->
    <button @click="count2++">Add 1</button>
    <p>count: {{ count2 }}</p>
    <!-- 22. Lifecycle Hooks -->
    <!-- onUpdated -->
    <button @click="count3++">Add 1</button>
    <p>Count : {{ count3 }}</p>
    <p> {{ message }}</p>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    // 기본 틀
    const {createApp, ref, computed, watch, onMounted, onUpdated } = Vue
    const app = createApp({
      setup () {
        // 1. Raw HTML
        const rawHtml = ref('<span style="color : red">This should be red.</span>')
        // 2. Attribute Bindings
        const dynamicId = ref('my-id')
        const myUrl = ref('https://www.google.co.kr/')
        const imageSrc = ref('https://picsum.photos/200')
        // 3. Binding HTML Classes - Binding to Objects
        const isActive = ref(false)
        const hasInfo = ref(true)
        // 객체로 위의 것 구현하기
        // ref은 반응 객체의 속성으로 액세스되거나 변경될 때 자동으로 unwrap
        const classObj = ref({
          active : isActive,
          'text-primary' : hasInfo
        })
        // 4. Binding HTML Classes - Binding to Arrays
        const activeClass = ref('active')
        const infoClass = ref('text-primary')
        // 5. Binding Inline Styles - Binding to Objects
        const activeColor = ref('crimson')
        const fontSize = ref(50)
        // 객체로 위의 것 구현하기
        const styleObj = ref({
          color:activeColor,
          fontSize:fontSize.value + 'pk'
        })
        // 6. Binding Inline Styles - Binding to Arrays
        const styleObj2 = ref({
          color : 'blue',
          border : '1px solid black'
        })
        // 7. Inline handlers(잘 안씀)
        const count = ref(0)
        // 8. Method Handlers
        const name = ref('Alice')
        const myFunc = function (event) {
          console.log(event)
          console.log(event.currentTarget)
          console.log(`Hello ${name.value}!`)
        }
        // 11. v - bind 와 v - on을 함께 사용(양방향)
        const inputText1 = ref('')
        const onInput = function (event) {
          inputText1.value = event.currentTarget.value
        }
        // 12. v-model
        const inputText2 = ref('')
        // 13. v-model 활용(Checkbox)
        const checked = ref(false)
        // 14. v-model 활용(여러 Checkbox)
        const checkedNames = ref([])
        // 15. computed
        const restOfTodos = computed(()=>{
          return todos.value.length > 0 ? '아직 남았다' : '퇴근!'
        })
        // 16. v-if
        const isSeen = ref(true)
        // 18. v-show (항상 렌더링, 가시성만.)
        const isShow = ref(false)
        // 19. v-for
        // 배열 반복
        const myArr = ref([
          {name: 'Alice', age:20},
          {name: 'Bella', age:21},
        ])
        // 객체 반복
        const myObj = ref({
          name: 'Cathy',
          age: 30
        })
        // 중첩된 v-for
        const myInfo = ref([
          {name:'Alice', age: 20, friends: ['Bella', 'Cathy', 'Dan']},
          {name:'Bella', age: 22, friends: ['Alice', 'Cathy']}

        ])
        // 20. v-for와 v-if 해결법
        // computed를 이용해서 해결

        let id = 0

        const todos = ref([
          {id : id++, name: '복습', isComplete: true},
          {id : id++, name: '예습', isComplete: false},
          {id : id++, name: '저녁식사', isComplete: true},
          {id : id++, name: '노래방', isComplete: true}
        ])


        const completeTodos = computed(()=>{
          return todos.value.filter((todo) => !todo.isComplete)
        })
        // 21. watch
        const count2 = ref(0)

        const countWatch = watch(count, (newValue, oldValue)=>{
          console.log(`newValue: ${newValue}, oldValue: ${oldValue}`)
        })
        // 22. Lifecycle Hooks
        // onMounted
          onMounted(() =>{
            console.log('mounted')
          })
        // onUpdated
        const count3 = ref(0)
        const message = ref(null)
        onUpdated(()=>{
          message.value = 'updated!'
        })

        return {
          rawHtml,
          dynamicId,
          myUrl,
          imageSrc,
          isActive,
          hasInfo,
          classObj,
          activeClass,
          infoClass,
          activeColor,
          fontSize,
          styleObj,
          styleObj2,
          count,
          name,
          myFunc,
          inputText1,
          onInput,
          inputText2,
          checked,
          checkedNames,
          restOfTodos,
          isSeen,
          isShow,
          myArr,
          myObj,
          myInfo,
          todos,
          completeTodos,
          count2,








        }
      }
    })
      app.mount('#app')
    
    // Raw HTML
  </script>
</body>
</html>



