{% block content %}
  {% for article in articles %}
    __(a)__  
  {% endfor %}
{% endblock %}

{% block script %}
const forms = document.querySelectorAll('.like-form')
forms.forEach(function (form) {
  form.addEventListener('submit', function (event) {
    event.preventDefault()
    
    {% comment %} 여기서 event.target 대신에 form이나 this, currentTarget을 써도 됨 {% endcomment %}

    const articleId = event.target.dataset.articleId
		//...//
    })
})

{% endblock %}


{% comment %} (a) 
<form class="like-form" data-article-id="{{article.pk}}">
  {% csrf_token %}
  <button>좋아요</button>
</form>  {% endcomment %}