{% extends "base.html" %}
{% block content %}
  <h1>DETAIL PAGE</h1>
  <h2>{{movie.title}}</h2>
  <p>{{movie.content}}</p>
  <hr>
  <a href="{% url "movies:update" movie.pk %}" class="btn btn-secondary">UPDATE</a>
  {% comment %} post 방식이라서 a를 쓰면 안되고 form으로 해야 된다. {% endcomment %}
  <form action="{% url "movies:delete" movie.pk %} " method = "POST" class='d-inline'>
    {% csrf_token %}
    <button class="btn btn-danger">DELETE</button>
  </form>
  <hr>
  <a href="{% url "movies:index" %}">
    <button type="button" class="btn btn-primary">BACK</button>
  </a>
{% endblock content %}


