<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>NEW</h1>
  {% comment %} 내용을 쓰고 갈 위치(아래) {% endcomment %}
  <form action="{% url "articles:create" %}" method = "POST">
    {% comment %} 이 요청은 post요청부터 필요해짐 {% endcomment %}
    {% csrf_token %}
    <div>
      <label for="title">제목: </label>
      {% comment %} 여기서 name 속성이 넘어가는 데이터에 대한 키의 역할을 한다. {% endcomment %}
      {% comment %} 값은 사용자가 입력하는 것이다. {% endcomment %}
      {% comment %} name -> request라는 객체의 get이라는 곳에 담겨서 들어감 {% endcomment %}
      <input type="text" id = "title" name="title">
    </div>
    <div>
      <label for="content">내용: </label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    <input type="submit">
  </form>
</body>
</html>