<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>CREATE</h1>
  {% comment %} 이 form 태그는 기본적으로 텍스트 데이터만 전달할 수 있다 {% endcomment %}
  {% comment %} 그래서 file 데이터를 보낼려면 속성값을 추가적으로 넣어줘야 한다. {% endcomment %}
  <form action="{% url "articles:create" %}" method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">[back]</a>
</body>
</html>
