{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% comment %} 장고에서는 static(정적) 파일은 기존방식으로는 인식못함 {% endcomment %}
  {% comment %} 따라서 static 태그 이용해야 됨 {% endcomment %}
  {% comment %} style.css 위치도 잘 볼 것 {% endcomment %}
  <link rel="stylesheet" href="{% static "articles/style.css" %}">
</head>
<body>
  <img src="{% static "articles/sample-1.png" %}" alt="샘플 이미지">
  <img src="{% static "sample-2.png" %}" alt="sample2.img">
  <h1>INDEX</h1>
  <a href="{% url 'articles:create' %}">CREATE</a>
  <hr>
  {% for article in articles %}
    <p>글 번호 : {{ article.pk }}</p>
    <a href="{% url "articles:detail" article.pk %}">
      <p>글 제목 : {{ article.title }}</p>
    </a>
    <p>글 내용 : {{ article.content }}</p>
    <hr>
  {% endfor %}
</body>
</html>
