{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% bootstrap_css %}
</head>
<body>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">SSAFY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url "movies:index" %}">INDEX</a>
          </li>

          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url "movies:create" %}">CREATE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url "accounts:update" %}">회원 정보 수정</a>
          </li>
          <li class="nav-item">
           <a class="nav-link text-light" href="{% url "change_password" user.pk %}">비밀번호 변경</a>
         </li> 
         <li class="nav-item">
           <a class="nav-link text-light" href="{% url "accounts:logout" %}">로그아웃</a>
         </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url "accounts:signup" %}">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url "accounts:login" %}">로그인</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
  <div class='container'>
    {% block content %}
    {% endblock content %}
  </div>
  {% bootstrap_javascript %}
</body>
</html>